html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  transition: 0.5s;
}
a:hover {
  opacity: 0.6;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
