.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 0;
  max-width: 1000px;
  width: 80vw;
  margin: 0 auto;
  min-height: 85vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main p,
.main label,
.main button,
.main select {
  font-family: "Anonymous Pro", sans-serif;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.header {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-bottom: 1px solid #cacaca;
  justify-content: center;
  align-items: center;
}
.header a {
  margin: 0 1rem;
}
.footer {
  display: flex;
  flex: 1;
  padding: 1rem 0;
  border-top: 1px solid #cacaca;
  justify-content: center;
  align-items: center;
}

.title a {
  color: #0070f3;
  text-decoration: underline;
}

.title a:hover,
.title a:focus,
.title a:active,
.main a:hover,
.main a:focus,
.main a:active,
.footer a:hover,
.footer a:focus,
.footer a:active,
.header a:hover,
.header a:focus,
.header a:active {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.flex {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}

.flex > div {
  width: 45%;
}

@media (max-width: 600px) {
  .flex > div {
    width: 100%;
  }
}

.card {
  position: relative;
  margin: 1rem;
  flex: 1 0 45%;
  padding: 1rem;
}
.card:before,
.card:after,
.card > :first-child:before,
.card > :first-child:after {
  position: absolute;
  width: 30px;
  height: 30px;
  border-color: #5af; /* or whatever colour */
  border-style: solid; /* or whatever style */
  content: " ";
}
.card:before {
  top: 0;
  left: 0;
  border-width: 2px 0 0 2px;
}
.card:after {
  top: 0;
  right: 0;
  border-width: 2px 2px 0 0;
}
.card > :first-child:before {
  bottom: 0;
  right: 0;
  border-width: 0 2px 2px 0;
}
.card > :first-child:after {
  bottom: 0;
  left: 0;
  border-width: 0 0 2px 2px;
}

.card button {
  margin-right: 0.5rem;
}
.cardcontainer {
  display: flex;
  flex-wrap: wrap;
}

.card .divider-above {
  margin-top: 1.5rem;
  padding-top: 0.5rem;
  border-top: 1px solid #444;
}
