$back-ground-mid: #444;
$back-ground-dark: #222;

.container {
  padding: 0 2rem;
}

.main {
  padding: 2rem 3rem;
  /* max-width: 1000px; */
  /* width: 80vw; */
  margin: 0 auto;
  min-height: 85vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  color: #fff;
  background-color: $back-ground-dark;
}

.main p,
.main label,
.main button,
.main select {
  font-family: "Anonymous Pro", sans-serif;
  letter-spacing: 1px;
  line-height: 1.4em;
}

.title a:hover,
.title a:focus,
.title a:active,
.main a:hover,
.main a:focus,
.main a:active,
.footer a:hover,
.footer a:focus,
.footer a:active,
.header a:hover,
.header a:focus,
.header a:active {
  text-decoration: none;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.title,
.description {
  text-align: center;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-size: 1.1rem;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
}

.card h2 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.card p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
  margin-left: 0.5rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.flex {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1rem;
  width: 100%;
}

@media (max-width: 600px) {
  .flex > div {
    width: 100%;
  }
}
.flex .map {
  /* overflow: scroll; */
}
.layer {
  min-width: 100px;
  /* min-height: 100px; */
  background-color: #262963;
  display: flex;
  flex-direction: row;
  position: relative;
  padding: 0.5rem 1rem 0.5rem 5rem;
}
.layer > p {
  position: absolute;
  left: 10px;
}

.layer > div {
}

.location {
  border: 3px solid black;
  padding: 0 1rem;
  background-color: $back-ground-dark;
  margin-left: 1rem;
  min-width: 90px;
  position: relative;
}
.current {
  border: 3px solid #ddd;
  background-color: rgb(56, 67, 56);
}
.visited {
  background-color: $back-ground-mid;
}
.entrance {
  border: 3px solid rgb(151, 189, 233);
  background-color: #666;
}

.controls {
  position: fixed;
  bottom: 100px;
  right: 20px;
  padding: 0 2rem;
  background-color: rgba(256, 256, 256, 0.2);
  text-align: center;
}

.controls button {
  border-radius: 0;
  outline: none;
  border: 2px solid black;
  background-color: #fff;
}

.up {
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid $back-ground-mid;
  border-bottom: 3px solid $back-ground-mid;
  top: 0;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  width: 1rem;
  height: calc(1rem + 6px);
}
.left {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid $back-ground-mid;
  border-right: 3px solid $back-ground-mid;
  left: 0;
  top: 50%;
  transform: translateY(-50%) translateX(-100%);
  width: calc(1rem + 6px);
  height: 1rem;
}
.right {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
  border-left: 3px solid $back-ground-mid;
  border-right: 3px solid $back-ground-mid;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translateX(100%);
  width: calc(1rem + 6px);
  height: 1rem;
}
.down {
  border-left: 3px solid black;
  border-right: 3px solid black;
  border-top: 3px solid $back-ground-mid;
  border-bottom: 3px solid $back-ground-mid;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%) translateY(100%);
  width: 1rem;
  height: calc(1rem + 6px);
}

.hallway {
  position: absolute;
  background-color: $back-ground-mid;
  z-index: 999;
}
